

@font-face {
    font-family: 'Syne';
    src: url('../font/Syne-SemiBold.woff2') format('woff2'),
        url('../font/Syne-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Rubik';
    src: url('../font/Rubik-Regular.woff2') format('woff2'),
        url('../font/Rubik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


